@import url('../styles/utilities.css');

.modal {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	padding: 3rem;
	padding-left: 60vw;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	transform: scale(1);
	animation: show 0.2s ease-in;
}
@keyframes show {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.hide-modal {
	transform: scale(0);
	animation: hide 0.2s ease-out;
}
@keyframes hide {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
.close-modal-btn {
	--clr-primary-btn: 351, 68%, 44%;
	color: var(--clr-seashell);
}
